/*TopBanner CSS*/

.topBannerImg{
    background-image: url("../../assets/img/banner.jpg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    width: 100%;
}

.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0,0,0, .5);
}

.topText{
    margin-top: 200px;
    text-align: center;
}

.topTitle{
    font-family: 'Montserreat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
    text-transform: uppercase;

}

.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 10px;
}

/*Services Section CSS*/

.servicesTitle{
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #0073E6;
    text-transform: uppercase;
}

.servicesCard{
    text-align: center;
    margin: 5px;
    padding: 60px 30px;
    height: 22rem;
    box-shadow:0 0 4px 0 rgba(0,115,230,.2);
}

.servicesCard:hover{
    box-shadow:0 0 8px 0 rgba(0,115,230,.2);
}

.servicesName{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
}

.servicesDescription{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7F7E7E;
}

/*Navigation CSS*/

.navTitle{
    color: #ffffff !important;
    font-size: 26px;
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
}

.navTitleScroll{
    color: #0073E6 !important;
    font-size: 26px;
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
}

.navBackground{
    transition: background-color 400ms linear;
    background-color: rgba(0,0,0,0) !important;
}

.navBackgroundScroll{
    transition: background-color 400ms linear;
    background-color: white !important;
    border-bottom: 1px solid rgba(0,115,230,.2);
}

.navItem{
    text-decoration: none;
    color: white ;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserreat', sans-serif;
}

.navItemScroll{
    text-decoration: none;
    color: black !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserreat', sans-serif;
}

/*Analysis Section CSS*/
.des{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:#7F7E7E ;
}
.barChart{
    width: 100%;
    height: 300px;
}

/*Summary Section CSS*/

.summaryBannerImg{
    background-image: url("../../assets/img/banner.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    width: 100%;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background-color: rgba(0,0,0, .5);
}

.summarySection{
    margin-top: 5rem;
}

.countNumber{
    color: white;
    font-family: 'Montserreat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.countName{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.summaryCountSection{
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.summaryCardTitle{
    color: black;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.summaryCardSubTitle{
    color: black;
    font-size: 14px;
    font-family: 'Montserreat', sans-serif;
    font-weight: 400;
}
.iconColor{
    color: #0073E6;
}

/*Project Section CSS*/

.projectCard{
    border-radius: 2px;
    border: 0;
    margin: 2px;
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, .4);
}

.projectCard:hover{

    box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, .4);
}

.projectCardTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.projectCardTitleDes{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/*Course Section CSS*/

.courseImg{
    width: 100%;
    height: 150px;
    border: 1px solid #b3d7ff;
}

.courseTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.courseDescription{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}

.courseBtn{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #0073E6;
}
.courseBtn:hover{
    text-decoration: none;
    color: #4e555b;
}

/*Video Section CSS*/

.videoBtn{
    cursor: pointer;
    font-size: 48px;
    color: #0073E6;
}

.videoTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0073E6;
}

.videoDes{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.videoCard{
    padding: 60px 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, .4);
    margin-top: 50px;
    text-align: center;
}

/*Review Section CSS*/

.clientImg{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #0073E6;
    margin-bottom: 5px;
}

/*Footer Section CSS*/

.footerCard{
    margin-top: 60px;
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, .4);
    padding-top: 40px;

}

.footerTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0073E6;
}

.footerBtn{
    font-size: 14px;
    font-weight: 600;
    color: #0073E6;
    margin-right: 3px;
}

.footerText{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.footerLink{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.footerLink:hover{
    text-decoration: none;
}

.footerCredit{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.footerCredit:hover{
    color: #9fcdff;
    text-decoration: none;
}

/*Page Top CSS*/

.topPageImg{
    background-image: url("../../assets/img/banner.jpg");
    min-height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    width: 100%;
}

.topPageOverlay{
    position: absolute;
    min-height: 280px;
    width: 100%;
    background-color: rgba(0,0,0, .5);
}

.topText{
    margin-top: 150px;
    text-align: center;
}

.topSubTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
}

/*About Section CSS*/

.aboutTitle{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}

.aboutDes{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

/*Contact Form CSS*/

.form-control:focus{
    border-radius: 2px;
    border-color: #0073E6;
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, .4);

}

#navLinkBtn:hover{
    text-decoration: none !important;
}